HELP.md

# Build
/target/

# Maven wrapper
.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
*.iws
*.iml
*.ipr
.vscode/

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# H2 Database
/data/
*.db
*.mv.db

# Logs
*.log

# Temp
*.tmp
*.bak